<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<link rel="stylesheet" type="text/css" href="/static/css/home.css" />
		<link rel='shortcut icon' href='http://boomroom.tv/jiayu/icon/hangar.ico'>
		<title>Hangar Underground Homepage</title>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<!--script src="http://platform.twitter.com/anywhere.js?id=x4lTyArsHbMMxgw7ol6Q&v=1"></script!-->
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
		<script type="text/javascript" src="http://boomroom.tv/jiayu/facebook/fb.js"></script>
	    <script src="//connect.beta.facebook.net/en_US/all.js"></script>
	    <script src="http://api.klout.com/v2/assets/js/klout.js"></script>
		<script type="text/javascript" src="http://platform.linkedin.com/in.js">
		  api_key: hswpp1xsxhfz
		  authorize: true
		</script>
		<script src='http://boomroom.tv/jiayu/combine/linkedin.js'></script>
	</head>
	<body>
		<div id="global_container_" class="expandingBoxFix">
			<div id="basic_bg">
				<img id="layer_7_copy_4" src="/static/image/layer_7_copy_4.png" alt="" height="1393" />
			</div>
			
			<div id="logo">
				<img id="hangar" src="/static/image/hangar.png" alt="hangar" width="122" height="41" />
				<img id="vector_smart_object" src="/static/image/vector_smart_object.png" alt="" width="78" height="21" />
			</div>
			
			<div id="first_nav" class="clearfix">
				<div id="search">
					<div id="search_bar">
<span id="search_users">Search Users</span>
						<img id="search_glyph" src="/static/image/search_glyph.png" alt="" width="12" height="12" />
						<input type='text' class='userinput'></input>
					</div>
				</div>
				<img id="vector_smart_object_26" src="/static/image/vector_smart_object_36.jpg" alt="" width="18" height="18" /><span id="update_profile">Update Profile</span>
				<img id="vector_smart_object_27" src="/static/image/vector_smart_object_37.jpg" alt="" width="17" height="17" /><span id="seetings">Seetings</span><span id="log-out"><b><a href='http://boomroom.tv/googleLogin/logout.php?logout'>Log-out</a></b></span>
			</div>
			
			<div id="left_column">
				<div id="avatar">
					<img id="layer_28" src="{{image_src}}" alt="" width="248" height="216" />
					<p id="username">{{user_name}}</p>
				</div>
				<div id="connect_with_jenna">
					<img id="layer_38_copy" src="/static/image/layer_38_copy.jpg" alt="" width="250" height="4" />
					<img id="connect_your_accounts_wit" src="/static/image/connect1.png" alt="Connect your accounts with&#xD;Hangar Underground" width="173" height="33" />
					<div id="rowHolder_1">
						<div id="add">
							
							<img id="vector_smart_object_2" src="/static/image/klout.png" alt="" width="30" height="32" />
						
						</div>
						<div id="flickr_badge">
							<a href="http://boomroom.tv/jiayu/combine/vimeo/login.php">
							<img id="left_roundel" src="/static/image/vimeo_icon.png" alt="" width="30" height="32" />
							</a>
						</div>
						<div id="twitter_badge">
							<!--a href='#' onmouseover="(window.status=''); return(true);" onclick="popup = dialogPopupNew('http://boomroom.tv/jiayu/twitter/login-twitter.php', '', 200, 100, 600, 600, 1); return(false);" title="Log in with Twitter"-->
							<!--a href="#" onclick="popup=window.open('http://boomroom.tv/jiayu/twitter/login-twitter.php','Popup','toolbar=no,
							location=no,status=no,menubar=no,scrollbars=yes,resizable=no, width=420,height=400,left=430,top=23'); return false;" title="Log in with Twitter"-->
							<a href="http://boomroom.tv/jiayu/twitter/login-twitter.php" title="Log in with Twitter">
							<img id="twitter_icon" src="/static/image/twitter_icon.jpg" alt="" width="20" height="15" />
							<img id="stitching_2" src="/static/image/stitching_2.png" alt="" width="26" height="27" />
							</a>
						</div>
						<div id="facebook_badge">
							<!--a href="#" onclick="fbLogin(); return false;" title="Log in with Facebook" onmouseover="(window.status=''); return(true);"-->
							<a href="http://boomroom.tv/jiayu/twitter/login-facebook.php" title="Log in with Facebook">
							<img id="facebook_icon" src="/static/image/facebook_icon.jpg" alt="" width="12" height="19" />
							<img id="stitching_3" src="/static/image/stitching_3.png" alt="" width="26" height="27" />
							</a>
							<div id="fb-root"></div>
							<script src="http://boomroom.tv/jiayu/combine/facebook.js" type="text/javascript"></script>
						</div>
						<div id="linkedin_badge">
							<a href='#' onclick='linkedinLogin(); return false;' title='Log in with LinkedIn' onmouseover="(window.status=''); return(true);">
							<img id="in_icon" src="/static/image/in_icon.jpg" alt="" width="18" height="18" />
							<img id="vector_smart_object_3" src="/static/image/vector_smart_object_4.png" alt="" width="26" height="27" />
							</a>
						</div>
					</div>
					<img id="layer_38" src="/static/image/layer_38.jpg" alt="" width="250" height="4" />
				</div>
				<div id="rowHolder_2">
					<div id="badges_2">
						<div id="columnHolder_1">
							<img id="badges" src="/static/image/badges.png" alt="BADGES" width="57" height="12" />
							<div id="uploads">
								<div id="x">
									<img id="vector_smart_object_copy" src="/static/image/vector_smart_object_copy.png" alt="" width="29" height="35" />
									<img id="layer2" src="/static/image/2.png" alt="2" width="7" height="7" />
								</div>
							</div>
							<div id="hits">
								<div id="unlocked">
									<img id="vector_smart_object_copy_" src="/static/image/vector_smart_object_copy__3.png" alt="" width="27" height="25" />
								</div>
							</div>
						</div>
						<div id="columnHolder_2">
							<div id="subscribers">
								<div id="x_2">
									<img id="layer10" src="/static/image/10.png" alt="10" width="11" height="7" />
									<img id="vector_smart_object_copy__2" src="/static/image/vector_smart_object_copy_.png" alt="" width="35" height="24" />
								</div>
							</div>
							<div id="responses">
								<div id="x_3">
									<img id="layer10_2" src="/static/image/10.png" alt="10" width="11" height="7" />
									<img id="vector_smart_object_7" src="/static/image/vector_smart_object_19.png" alt="" width="25" height="23" />
								</div>
							</div>
						</div>
						<div id="views">
							<div id="x_4">
								<img id="layer5" src="/static/image/5.png" alt="5" width="5" height="7" />
								<img id="vector_smart_object_copy__3" src="/static/image/vector_smart_object_copy__2.png" alt="" width="32" height="20" />
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div id="right_column">
				<img id="scores" src="/static/image/scores.png" alt="Scores" width="63" height="18" />
				<div id="rowHolder_6">
					<img id="bg_copy_2" src="/static/image/bg_copy_2.png" alt="" width="633" height="1007" />
					<div id="bg_copyHolder">
						<div id="level_bars">
							<a href="{% url data %}?&access_token={{access_token}}" onclick='window.open(this.href);return false;'>
							<div id="main_bar" class="clearfix">
								<img id="line_1" src="/static/image/line_1.png" alt="" width="3" height="345" />
								<img id="line_1_copy" src="/static/image/line_1.png" alt="" width="3" height="345" />
								<img id="line_1_copy_2" src="/static/image/line_1.png" alt="" width="3" height="345" />
								<img id="line_1_copy_3" src="/static/image/line_1.png" alt="" width="3" height="345" />
							</div>
							<div id="viwers">
								<img id="vector_smart_object_12" src="/static/image/vector_smart_object_23.png" alt="" width="30" height="19" />
								<div id="loading">
									<img id="bg_2" src="/static/image/bg22.png" alt="" width="31" height="{{total_view}}" />
									<p><span  id='views_2'>VIEWS</span></p>
								</div>
							</div>
							<div id="subscribers_3">
								<img id="vector_smart_object_13" src="/static/image/vector_smart_object_24.png" alt="" width="32" height="22" />
								<div id="loading_2">
									<img id="bg_3" src="/static/image/bg2_22.png" alt="" width="31" height="{{num_sub}}" />
									<p><span  id='subscribers_2'>SUBSCRIBERS</span></p>
								</div>
							</div>
							<div id="uploads_3">
								<img id="vector_smart_object_14" src="/static/image/vector_smart_object_25.png" alt="" width="20" height="25" />
								<div id="loading_3">
									<img id="bg_4" src="/static/image/bg_42.png" alt="" width="31" height="{{num_upl}}" />
									<p><span  id='uploads_2'>UPLOADS</span></p>
								</div>
							</div>
							<div id="hits_3">
								<img id="vector_smart_object_15" src="/static/image/vector_smart_object_26.png" alt="" width="24" height="22" />
								<div id="loading_4">
									<img id="bg_5" src="/static/image/bg_52.png" alt="" width="31" height="{{num_lik}}" />
									<p><span  id='hits_2'>LIKES</span></p>
								</div>
							</div>
							<div id="responses_3">
								<img id="vector_smart_object_16" src="/static/image/vector_smart_object_27.png" alt="" width="23" height="22" />
								<div id="loading_5">
									<img id="bg_6" src="/static/image/bg_62.png" alt="" width="32" height="{{num_com}}" />
									<p><span  id='responses_2'>COMMENTS</span></p>
									</div>
								</div>
						    </div>					
						    </a>
						</div>
						
						<div id="vector_smart_objectHolder">
							<div id="feed_3">
								<div id="badge_unlocked" class="clearfix">
									<p id='new_feeds'> New Feeds! </p>
								</div>
								<div id="line_breaks">
									<img id="feed" src="/static/image/feed.png" alt="Feed" width="45" height="18" />
									<img id="layer_39" src="/static/image/layer_39_copy.png" alt="" width="568" height="3" />
								</div>
								<div id="feed_1">
									<div id="rowHolder_3" class="clearfix">
										<img id="vector_smart_object_19" src="/static/image/vector_smart_object_31.png" alt="" width="19" height="19" /><span id="user_id">User ID</span>
										<img id="vector_smart_object_20" src="/static/image/vector_smart_object_30.png" alt="" width="20" height="19" /><span id="layer2_hours_ago">2 hours ago</span>
									</div>
									<p id="lorem_ipsum_dolor_sit_ame">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas justo dolor, aliquam in porta non, dapibus non nisl. Vestibulum mattis magna sit amet sem volutpat rhoncus. Morbi quis magna id ligula eleifend tempor ac ut est. Nam eu felis purus, in vehicula velit.</p>
									<img id="layer_39_copy" src="/static/image/layer_39_copy.png" alt="" width="568" height="3" />
								</div>
								<div id="feed_2">
									<div id="rowHolder_4" class="clearfix">
										<img id="vector_smart_object_21" src="/static/image/vector_smart_object_31.png" alt="" width="19" height="19" /><span id="user_id_2">User ID</span>
										<img id="vector_smart_object_22" src="/static/image/vector_smart_object_30.png" alt="" width="20" height="19" /><span id="layer3_hours_ago">3 hours ago</span>
									</div>
									<p id="lorem_ipsum_dolor_sit_ame_2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas justo dolor, aliquam in porta non, dapibus non nisl. Vestibulum mattis magna sit amet sem volutpat rhoncus. Morbi quis magna id ligula eleifend tempor ac ut est. Nam eu felis purus, in vehicula velit.</p>
									<img id="layer_39_copy_2" src="/static/image/layer_39_copy.png" alt="" width="568" height="3" />
								</div>
								<div id="feed_2_copy">
									<div id="rowHolder_5" class="clearfix">
										<img id="vector_smart_object_23" src="/static/image/vector_smart_object_31.png" alt="" width="19" height="19" /><span id="user_id_3">User ID</span>
										<img id="vector_smart_object_24" src="/static/image/vector_smart_object_30.png" alt="" width="20" height="19" /><span id="layer5_hours_ago">5 hours ago</span>
									</div>
									<p id="lorem_ipsum_dolor_sit_ame_3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas justo dolor, aliquam in porta non, dapibus non nisl. Vestibulum mattis magna sit amet sem volutpat rhoncus. Morbi quis magna id ligula eleifend tempor ac ut est. Nam eu felis purus, in vehicula velit.</p>
									<img id="layer_39_copy_3" src="/static/image/layer_39_copy.png" alt="" width="568" height="3" />
								</div>
							</div>
						</div>
									
					</div>					
				</div>
		    </div>	
		

		    <div id="footer">
		         <span id="about_help_blog_status_jo">
			        <li><a href=''>About &nbsp;&nbsp;&nbsp;</a></li>
				    <li><a href=''>Help &nbsp;&nbsp;&nbsp;</a></li>
					<li><a href=''>Blog &nbsp;&nbsp;&nbsp;</a></li>
					<li><a href=''>Status &nbsp;&nbsp;&nbsp;</a></li>
					<li><a href=''>Jobs &nbsp;&nbsp;&nbsp;</a></li>
					<li><a href=''>Terms &nbsp;&nbsp;&nbsp;</a></li>
					<li><a href=''>Privacy &nbsp;&nbsp;&nbsp;</a></li>
					<li><a href=''>Advertisers&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
					<li><a href=''>Businesses &nbsp;&nbsp;&nbsp;&nbsp;</a></li>
					<li><a href=''>Media &nbsp;&nbsp;&nbsp;&nbsp;</a></li>
					<li><a href=''>Developers &nbsp;&nbsp;&nbsp;&nbsp;</a></li>
					<li><a href=''>Resources &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
					<li><a href=''>Directory &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
					<li><a href=''>© 2012 Hangar Underground&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
					<li><a href="http://www.easycounter.com/">
					<img src="http://www.easycounter.com/counter.php?amy427"
					border="0" alt="page counter"></a></li>
				</span>
			</div>
		
		</div>
		
		<script type="text/javascript"> 
		var top1 = {{ total_view }};
		var top2 = {{ num_sub}}
		var top3 = {{ num_upl}}
		var top4 = {{ num_lik}}
		var top5 = {{ num_com}}
		var a1 = 264-top1;
		var a2 = 264-top2;
		var a3 = 264-top3;
		var a4 = 264-top4;
		var a5 = 264-top5;
		$('#bg_2').css('top', a1+"px");
		$('#bg_3').css('top', a2+"px");
		$('#bg_4').css('top', a3+"px");
		$('#bg_5').css('top', a4+"px");
		$('#bg_6').css('top', a5+"px");
		function sc1(){
		//dochttp://localhost:8000/static/image/layer_7_copy_4.pngument.getElementById("Javascript.Div1").style.top=(document.body.scrollTop+(document.documentElement.clientHeight-document.getElementById("Javascript.Div1").offsetHeight)/2)+"px";
		document.getElementById("global_container_").style.left=(document.documentElement.scrollLeft+(document.documentElement.clientWidth-document.getElementById("global_container_").offsetWidth)/2)+"px";
		}
		
		
		function scall(){
		sc1();
		}
		window.onscroll=scall;
		window.onresize=scall;
		window.onload=scall;
		
		
		</script>
		
		<form id="fbId" name="fbid" method="post" action="http://boomroom.tv/jiayu/combine/insertFBid.php" style='display:none'>
			<input name='fbid' id='inputfbid' />
			<input name='submit' type='submit' value='submit' />
		</form>
		
	</body>
</html>